tests/fixtures/orders.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrderService"
    targetNamespace="http://example.com/orders"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/orders"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/orders" elementFormDefault="qualified">

      <xsd:simpleType name="OrderStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NEW"/>
          <xsd:enumeration value="SHIPPED"/>
          <xsd:enumeration value="CANCELLED"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="Customer">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="email" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element name="sku" type="xsd:string"/>
          <xsd:element name="quantity" type="xsd:int"/>
          <xsd:element name="price" type="xsd:decimal"/>
        </xsd:sequence>
        <xsd:attribute name="gift" type="xsd:boolean"/>
      </xsd:complexType>

      <xsd:element name="CreateOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customer" type="tns:Customer"/>
            <xsd:element name="items" type="tns:Item" maxOccurs="unbounded"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="CreateOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderId" type="xsd:string"/>
            <xsd:element name="status" type="tns:OrderStatus"/>
            <xsd:element name="createdAt" type="xsd:dateTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderId" type="xsd:string"/>
            <xsd:element name="customer" type="tns:Customer"/>
            <xsd:element name="items" type="tns:Item" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="status" type="tns:OrderStatus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="CreateOrderRequest">
    <wsdl:part name="parameters" element="tns:CreateOrder"/>
  </wsdl:message>
  <wsdl:message name="CreateOrderResponseMsg">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="GetOrderRequest">
    <wsdl:part name="parameters" element="tns:GetOrder"/>
  </wsdl:message>
  <wsdl:message name="GetOrderResponseMsg">
    <wsdl:part name="parameters" element="tns:GetOrderResponse"/>
  </wsdl:message>

  <wsdl:portType name="OrderPortType">
    <wsdl:operation name="CreateOrder">
      <wsdl:documentation>Creates a new order for a customer with one or more items.</wsdl:documentation>
      <wsdl:input message="tns:CreateOrderRequest"/>
      <wsdl:output message="tns:CreateOrderResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:documentation>Retrieves an order by its id.</wsdl:documentation>
      <wsdl:input message="tns:GetOrderRequest"/>
      <wsdl:output message="tns:GetOrderResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="OrderBinding" type="tns:OrderPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://example.com/orders/CreateOrder"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://example.com/orders/GetOrder"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="OrderService">
    <wsdl:port name="OrderPort" binding="tns:OrderBinding">
      <soap:address location="http://localhost:18081/orders"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
